.error-element-body{
    display: block;
    width: 100%;
    height: 150px;
    border-top-left-radius: var(--radius);
    border-top-right-radius: var(--radius);
    background-color: tomato;
    text-align: center;
}
.error-element-big-body{
    border-radius: var(--radius);
    height: 320px;
    width: 80%;
    background-color: tomato;
    text-align: center;
}